<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-8">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  <!-- Sign up -->
                </p>

                <form
                  [formGroup]="profileForm"
                  (ngSubmit)="onSubmit()"
                  class="mx-3 mx-md-6"
                >
                  <div class="d-flex flex-row align-items-center mb-4 mx-1">
                    <div class="form-outline flex-fill mx-2">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Full Name"
                        formControlName="name"
                        [class.is-invalid]="name?.invalid && name?.touched"
                      />
                      <div
                        *ngIf="name?.invalid && name?.touched"
                        class="pt-0 mt-0 form-text text-danger"
                      >
                        <small
                          *ngIf="name?.errors?.['required']"
                          class="form-text text-danger pt-0 mt-0"
                          style="font-size: 80%"
                          >Full Name is Required</small
                        >
                        <small
                          *ngIf="name?.errors?.['main']"
                          class="form-text text-danger"
                          style="font-size: 80%"
                          >Minimum Length is 10 Letters</small
                        >
                      </div>
                    </div>
                    <div class="form-outline flex-fill">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Mobile"
                        formControlName="mobile"
                        [class.is-invalid]="mobile?.invalid && mobile?.touched"
                      />
                      <div
                        *ngIf="mobile?.invalid && mobile?.touched"
                        class="pt-0 mt-0 form-text text-danger"
                      >
                        <small
                          *ngIf="mobile?.errors?.['required']"
                          class="form-text text-danger pt-0 mt-0"
                          style="font-size: 80%"
                          >Mobile is Required</small
                        >
                        <small
                          *ngIf="mobile?.errors?.['pattern']"
                          class="form-text text-danger"
                          style="font-size: 80%"
                          >Mobile Number Shoud be 11 number</small
                        >
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Email"
                        formControlName="email"
                        [class.is-invalid]="email?.invalid && email?.touched"
                      />
                      <div *ngIf="email?.invalid && email?.touched">
                        <small
                          id="emailHelp"
                          style="font-size: 80%"
                          class="form-text text-danger"
                          *ngIf="email?.errors?.['required']"
                        >
                          Email is Required .
                        </small>
                        <small
                          style="font-size: 80%"
                          id="emailHelp"
                          class="form-text text-danger"
                          *ngIf="email?.errors?.['email']"
                        >
                          Email Shoud contain @ .
                        </small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label">Experince</label>
                      <select
                        class="form-select"
                        formControlName="experince"
                        [class.is-invalid]="
                          experince?.invalid && experince?.touched
                        "
                      >
                        <option>Less Than A Year</option>
                        <option>From 1 to 3 Years</option>
                        <option>3 Years Above</option>
                      </select>
                      <div *ngIf="experince?.invalid && experince?.touched">
                        <small
                          style="font-size: 80%"
                          class="form-text text-danger"
                          *ngIf="experince?.errors?.['required']"
                        >
                          experince is Required .
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label mt-0">Status</label>
                      <select
                        class="form-select"
                        formControlName="status"
                        [class.is-invalid]="status?.invalid && status?.touched"
                      >
                        <option>Single</option>
                        <option>Married</option>
                        <option>other</option>
                      </select>
                      <div *ngIf="status?.invalid && status?.touched">
                        <small
                          style="font-size: 80%"
                          class="form-text text-danger"
                          *ngIf="status?.errors?.['required']"
                        >
                          status is Required .
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="date"
                        class="form-control"
                        placeholder="birthday"
                        formControlName="birthDay"
                        [class.is-invalid]="
                          birthDay?.invalid && birthDay?.touched
                        "
                      />
                      <div *ngIf="birthDay?.invalid && birthDay?.touched">
                        <small
                          style="font-size: 80%"
                          class="form-text text-danger"
                          *ngIf="birthDay?.errors?.['required']"
                        >
                          birthDay is Required .
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <img
                        src="{{ base64 }}"
                        width="200"
                        height="100"
                        *ngIf="base64"
                      />
                      <input
                        accept="jpg"
                        type="file"
                        class="form-control"
                        placeholder="img"
                        formControlName="img"
                        (change)="getImgPath($event)"
                      />
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4">
                    <button
                      type="submit"
                      class="btn text-white rounded-pill px-5"
                    >
                      Register
                    </button>
                  </div>
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
